.form {
    padding: 30px;
    width: 310px;
}

.conteiner {
    flex-direction: column;
    width: 100%;
}


.buttons:active {
    background: linear-gradient(to bottom, var(--Green), rgb(63, 247, 2), transparent);
}

.buttons1:active {
    background: linear-gradient(to bottom, var(--Green), rgb(63, 247, 2), transparent);
}